<ion-header>
  <ion-navbar>
    <ion-title>Help</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="lists.number == 2840926">
    <h1>Set or delete alarms</h1>
    <div text-wrap>
      <p>You can make and change alarms in the Clock app.</p>
      <br>
      <h3>Set an alarm time</h3>
      <div>
        <ol>
          <li>Open Clock app.</li>
          <li>At the top, tap <strong>Alarm</strong>.</li>
          <li>To add an alarm, tap Add <img src="//lh3.googleusercontent.com/5XXH0IVZcPteZ1ZyYABmy9MmxlMv_8EvE2JrvaBZvNPlIwhMEHhPun4LhukvjjxViQ=w18-h18" width="18" height="18" alt="Add" title="Add">.</li>
          <li>Set the alarm time.
            <ol>
              <li>Tap the hour.</li>
              <li>Tap the minutes.</li>
            </ol>
          </li>
          <li>Tap <strong>OK</strong>.</li>
        </ol>
      </div>
      <h3>Turn alarm on or off</h3>
      <div>
        <ol>
          <li>Open Clock app.</li>
          <li>At the top, tap <strong>Alarm</strong>.</li>
          <li>On the alarm you want, tap the <strong>On/Off</strong> switch.
          </li>
        </ol>
      </div>
      <h3>Delete an alarm</h3>
      <div>
        <ol>
          <li>Open Clock app.</li>
          <li>At the top, tap <strong>Alarm</strong>.</li>
          <li>On the alarm you want, tap <strong>Delete</strong>.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div *ngIf="lists.number == 6143309">
    <h1>Use the timer &amp; stopwatch</h1>
    <div text-wrap>
      <p>You can time yourself with the Clock app's timer or stopwatch.</p>
      <br>
      <h2>Timer</h2>
      <p>You can count time down to zero with the timer.</p>
      <h3>Use the timer</h3>
      <ol>
        <li>Open Clock app.</li>
        <li>At the top, tap <strong>Timer</strong>.</li>
        <li>Enter how long you want the timer to run.</li>
        <li>Tap Start <img src="//storage.googleapis.com/support-kms-prod/d8qDGp1vfiBHHzo0X6X3r5BGkDGo1j6UpNS2" width="18" height="18" alt="Play" title="Play">.</li>
        <li>When your timer finishes, you'll notice vibrating. To stop this, tap
        <strong>Stop</strong>.</li>
      </ol>
      <h3>Change a running timer</h3>
      <ul>
        <li>To pause the timer, tap Pause <img src="//storage.googleapis.com/support-kms-prod/Mz0W9LaE4mv34slVC5GSe9ro6nBiSGdf7GFY" width="18" height="18" alt="Pause" title="Pause">.</li>
        <li>To add a minute to the length, tap <strong>+1:00</strong>.</li>
        <li>To remove the timer, tap <strong>Delete</strong>.</li>
      </ul>
      <br>
      <h2>Stopwatch</h2>
      <p>You can count time up from zero with the stopwatch.</p>
      <h3>Use the stopwatch</h3>
      <ol>
        <li>Open Clock app.</li>
        <li>At the top, tap <strong>Stopwatch</strong>.</li>
        <li>Tap Start <img src="//storage.googleapis.com/support-kms-prod/d8qDGp1vfiBHHzo0X6X3r5BGkDGo1j6UpNS2" width="18" height="18" alt="Play" title="Play">.</li>
      </ol>
      <h3>Change a running stopwatch</h3>
      <ul>
        <li>To pause the stopwatch, tap Pause <img src="//storage.googleapis.com/support-kms-prod/Mz0W9LaE4mv34slVC5GSe9ro6nBiSGdf7GFY" width="18" height="18" alt="Pause" title="Pause">.</li>
        <li>To reset the stopwatch, tap Pause <img src="//storage.googleapis.com/support-kms-prod/Mz0W9LaE4mv34slVC5GSe9ro6nBiSGdf7GFY" width="18" height="18" alt="Pause" title="Pause"> <img src="//lh3.googleusercontent.com/nHFGZ_9xjCh-mP83zMzXQVJF5VYf2n6kwoBIxB2zv3V4VPT4gNTtBye8lYznogLqLPY=w13-h18" width="13" height="18" alt="and then" title="and then">
        <strong>Reset</strong>.</li>
      </ul>
    </div>
  </div>
</ion-content>