<ion-content padding>
  <div *ngIf="isFirstClick">
    <ion-list>
      <ion-item-divider>
        <ion-label>
          {{h}}<span class="tiny">h</span>
          {{m}}<span class="tiny">m</span>
          {{s}}<span class="tiny">s</span>
        </ion-label>
        <button ion-button large item-end clear [color]="platform.is('ios') ? 'dark' : 'light'" (click)="remove()" [disabled]="!isEntered">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-item-divider>
    </ion-list>
    <div class="main-wrap">
      <div class="row" *ngFor="let num of nums; let i = index ">
        <button class="col" *ngFor="let num of nums | slice:(i*3):(i+1)*3" (click)="add(num)">
          {{num}}
        </button>
      </div>
    </div>
  </div>

  <div class="display" *ngIf="!isFirstClick" (click)="countStartStop()">
    <span [ngClass]="!isVibrated ? 'daughter' : 'son'">
      {{daughter}}
    </span>
  </div>

  <div *ngIf="!isFirstClick">
    <button ion-button clear class="delete" [color]="platform.is('ios') ? 'primary' : 'light'" (click)="delete()">
      Delete
    </button>
    <button ion-button clear class="reset" [color]="platform.is('ios') ? 'primary' : 'light'" *ngIf="!isClicked" (click)="reset()">
      Reset
    </button>
    <button ion-button clear class="reset" [color]="platform.is('ios') ? 'primary' : 'light'" *ngIf="isClicked" (click)="addMinute()">
      + 1:00
    </button>
  </div>
  
  <ion-fab center bottom *ngIf="isEntered" (click)="countStartStop()">
    <button ion-fab color="primary">
      <ion-icon *ngIf="!isClicked" name="play"></ion-icon>
      <ion-icon *ngIf="isClicked" name="pause"></ion-icon>
    </button>
  </ion-fab>
</ion-content>